@charset "UTF-8";

.BlackListArea{
	text-align:center;
	float:center;
	width:100%;
}

.BlackListArea table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align:center;
}
#totalBlackList{
	width:100%;	
}
#totalBlackList td{
	border-bottom:1px solid lightgray;
}
.search{
	float:right;
}
#text1, #text2 {
	float: left;
	font-size: 25px;
	margin-left: 0;
}

#text3{
	float: left;
	font-size: 20px;
	margin-left: 3%;
}
#text4{
	float:center;
	width:100%;
}
.btns {
	float: right;
}
