@charset "UTF-8";

.calcTable, .refundTable {
	font-size:12px;
	width:95%;
	margin-left:20px;
}

.calcTable tr, .refundTable tr{
	height:40px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	text-align:center;
}
.calcTable th, .refundTable th{
	background:mistyrose;
	text-align:center;
}
.button {
	width:70px;
	height:30px;
}
