@charset "UTF-8";
#companyArea{
	/* background: red; */
	/* width: 100%;
	margin-right: auto;
	margin-left: auto; */
	margin-top: 3%;
	height: 100%;
}
#sendMesToCompany h2{
	color: salmon;
}
#sendMesToCompany{
	border-top: 5%;
}
#smSection{
	margin-top: 3%;
	width: 100%;
}
#smTB{
	width: 100%;
}
#smTB *{
	margin-top: 1%;
}
#smCname{
	width: 100%;
	color: salmon;
}
#receiveContent{
	height: 200px;
}
#smContent{
	width: 100%;
	resize: none;
	height: 300px;
}
#Btns{
	margin-right: auto;
	margin-left: auto;
	width: 220px;
}
#sendBtn, #cancelBtn{
	float: left;
	width: 100px;
    height: 26px;
    background: salmon;
    color: white;
    border: 2px double salmon;
    text-align: center;
    border-radius: 5px;
    cursor:pointer;
    margin-bottom: 3px;
}
#sendBtn:hover, #cancelBtn:hover{
	background: white;
	color: salmon;
}
#cancelBtn{
	float: left;
	margin-left: 3%;
}