@charset "UTF-8";
.inquiryArea table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.inquiryArea table th {
	padding: 8px;
	text-align: center;
}

.inquiryArea table tr td {
	padding: 8px;
	border-bottom: 1px solid gray;
	text-align: center;
}
.sidenav1 {
	color: black;
	font-size: 20px;
}

#inquiryNumt {
	border: 1px solid gray;
}

#text1, #text2 {
	float: left;
	font-size: 25px;
	margin-left: 0;
}

.inquiryList {
	text-align: center;
}
#inquiryListt{
	border-top:1px solid gray;
}
.search{
	float:right;
}


/* 욱이 코드 */
.sidenavArea, .sidenavArea2{
	margin-top:70px;
}

.navList{
	list-style:none;
	text-align:left;
}

.navList li{
	margin:15px;
	font-size:20px;
	transition: padding-left 1s;
	color:black;
}

.navList li:hover{
	padding-left:25px;
	cursor:pointer;
	color:lightgray;
}


/* a_Mstats 사이드 영역(xs) */

.navList2{
	margin:15px;
	font-size:20px;
	list-style:none;
	text-align:center;
	background:lightgray;
	height:auto;
}
.navList2 li{
	margin:15px;
}

.navList2 li:hover{
	color:white;
	cursor:pointer;
}
.sideListnav2{
	background:lightgray;
}
