@charset "UTF-8";

.subtitle {
	font-size:25px;
	font-weight:bold;
	font-family:'Noto Sans KR', sans-serif;
}
.memberNumtable, .memberListTable, .searchMemberList, .memberDetailInfo {
	width:100%;
	height:auto;
	font-family:'Noto Sans KR', sans-serif;
	text-align:center;
}
.memberNumtable tr, .memberListTable tr, .searchMemberList tr, .memberDetailInfo tr {
	height:40px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}
.memberNumTableTd1 {
	background:mistyrose;
}
.searchMemberListTd1 {
	width:20%;
	background:mistyrose;
}
.searchMemberListTd2 {
	text-align:left;
	padding-left:20px;
}
.searchMemberListBtnArea {
	width:100%;
	height:auto;
	text-align:center;
}
.searchMemberListBtn {
	width:100px;
	height:40px;
	color:white;
	background:salmon;
	border:1px solid salmon;
}
.searchMemberListBtn:hover {
	width:100px;
	height:40px;
	color:salmon;
	background:white;
	border:1px solid salmon;
}
.memberDetailInfo td {
	width:25%;
}
.memberDetailInfoTd1 {
	background:mistyrose;
}	
.memberDetailInfoTd11 {
	background:mistyrose;
}	
	
.survey{
	text-align:center;
	float:center;
	width:100%;
}
.surveyTable{
	border-top:1px solid gray;
	border-bottom:none !important;
}


.sidenav1 {
	color: black;
	font-size: 20px;
}

.btns {
	float: right;
}

/* 욱이 코드 */
.sidenavArea, .sidenavArea2{
	margin-top:70px;
}

.navList{
	list-style:none;
	text-align:left;
}

.navList li{
	margin:15px;
	font-size:20px;
	transition: padding-left 1s;
	color:black;
}

.navList li:hover{
	padding-left:25px;
	cursor:pointer;
	color:lightgray;
}


/* a_Mstats 사이드 영역(xs) */

.navList2{
	margin:15px;
	font-size:20px;
	list-style:none;
	text-align:center;
	background:lightgray;
	height:auto;
}
.navList2 li{
	margin:15px;
}

.navList2 li:hover{
	color:white;
	cursor:pointer;
}
.sideListnav2{
	background:lightgray;
}
