@charset "UTF-8";

.container hr{
	border : solid 1px gray;
	background : gray;
}

.writerbtn, .listbtn {
	float : left ; 
	border : 1px solid #FB6E5F;
	width : 250px;
	height : 100px;
}

.writerbtn{
	margin-left : 7%;
}

.listbtn{
	margin-left : 3%;
}

.writerbtn>img , .listbtn>img{
	width : 100px;
	height : 100px;
} 

.labeldiv{
	width : 120px;
	height : 100px;
	float : right;
}

.labeldiv label{
	margin-top : 15%;
	font-size : 25px;
	color : gray;
}

.material-icons.md-36{
	color : gray;
	font-size: 60px; 
	margin-left : 20%;
	margin-top : 6%;
}

.conMenu{
	width : 100%;
	height : 100px;
}

.contactwrite{
	width : 100%;
	height : 500px;
}

#writerTable{
	border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 3px solid gray;
  	margin : 20px 10px;
	margin-left : 5%;
	width : auto;
}

#writerTable th{
	width: 300px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: black;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#writerTable td{
	width: 400px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#writerTable select,#writerTable input , #writerTable textArea {
	color : black;
	width : 400px;
	border : none;
}

#consubmit{
	background : #FB6E5F;
	color : white;
	width : 100px;
	height : 30px;
	outline : 0;
	border: 0;
	border-radius: 5%;
	margin-left : 80%;
}


#consubmit:hover{
	background : white;
	color : #FB6E5F;
	
}

 #writerTable textArea{
 	resize : none;
 }

.writerbtn{
	 background-color:#FB6E5F;
	 border-radius : 3%;
}

#writeIcon, #wlabel{
  color : white;
}
				