@charset "UTF-8";
#comCalcTable2{
	font-size:12px;
	width:100%;
}
#comCalcTable2 tbody{
	text-align:center;
}
#comCalcTable2 thead{
	border-bottom: 1px solid gray;
	text-align:center;
}
.calculateStandByList{
	font-size:12px;
	width:100%;
}
.calculateStandByList td{
	border-bottom: 1px solid gray;
	text-align:center;
}
.calculateStandByList th{
	border-bottom: 1px solid gray;
	text-align:center;
	background:mistyrose;
}
.subSubTitle {
	font-size:20px;
	font-family:'Noto Sans KR', sans-serif;
}

.calculateStandByList tr {
	height:40px;
}
.calculateStandByList thead {
	background:mistyrose;
	text-align:center;
}
.calculateStandByList tbody tr {
	border-bottom:2px solid gray;
}
.calculateStandByList tfoot {
}
.hold, .normal {
	border-style:none;
	background:#ff7566;
	color:white;
}
.paging {
	border-style:none;
	background:whitesmoke;
	color:gray;
}
.button{
	font-size:20px;
	height:30px;
	weight:70px;
}
#requestCalc, #clacHistory{
    width: 140px;
    height: 35px;
    font-size: 22px;
    background: salmon;
    color: white;
    border: 2px double salmon;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}
#requestCalc:hover, #clacHistory:hover{
	 background: white;
   color: salmon;
}