@charset "UTF-8";
#comCalcTable2{
	text-align:center;
	border:1px solid gray;
}
#comCalcTable2 tbody{
	width:100%;
}
#comCalcTable2 thead{
	text-align:center;
}
.calculateStandByList{
	width:100%;
	text-align:center;
	font-weight:bold;
}
.calculateStandByList td{
	border-bottom: 1px solid gray;
	text-align:center;
}
.calculateStandByList th{
	background:gray;
	color:white;
	border-bottom:2px solid gray;
	text-align:center;
}
.subSubTitle {
	font-size:20px;
	font-family:'Noto Sans KR', sans-serif;
}

.calculateStandByList tr {
	height:40px;
}
.calculateStandByList thead {
	background:gray;
	color:white;
	border-bottom:2px solid gray;
}
.calculateStandByList tbody tr {
	border-bottom:2px solid gray;
}
.calculateStandByList tfoot {
}
.hold, .normal {
	border-style:none;
	background:#ff7566;
	color:white;
}
.paging {
	border-style:none;
	background:whitesmoke;
	color:gray;
}