@charset "UTF-8";

#container{
	width : 670px;
}

.panel{
	width : 570px;
	height : auto;
}

.panel-heading{
	height : auto;
}

.sideMenu2{
	width : 50px;
}

.imgArea{
	width : 530px;
	height : 200px;
	background: gray;
}

.img{
	width : 100%;
	height : 100%;
	max-width : 530px;
	max-height : 200px;
}

#addSubPhoto{
	outline : 0;
	border: 0;
	background : none;
}


#photoSubmit{
	width : 10%;
	height : 30px;
	margin-top : 40px;
	position: fixed;
	outline : 0;
	border: 0;
	background: #FB6E5F;
	color: white;
	border-radius : 4%;
}

#photoSubmit:hover{
	background: white;
	color: #FB6E5F;
}


.sidenav1 ul{
	list-style: none;
    margin: 0;
    padding: 0;	
}

.sidenav1 li{
	padding : 10px;
    font-family: 'Sunflower', sans-serif;
}

.sidenav1 li:hover{
	background : mistyrose;
}

.con1{
	font-family: 'Sunflower', sans-serif;
}



.comTable{
	width : 100%;
}

.comTable tr>th{
	padding-right : auto;
	padding-bottom : auto;
	font-size : 12px;
}


.comTable tr>td{
	padding-right : 100px;
	padding-bottom : 20px;
	font-size : 12px;
}

.comTable td>button,input[type=button]{
	border : 0;
	outline : 0;
	background: #FB6E5F;
	color : white;
	width : 95px;
	height  : 25px;
	border-radius : 6%;
	font-size : 15px;
}

.comTable td>button:hover,.comTable input[type=button]:hover{
	background: white;
	color : #FB6E5F;
	border : 1px solid #FB6E5F;
}

.com_term{
	margin-left : 25%;
	margin-right : auto;
}

.form-group button{
	border : 0;
	outline : 0;
	background: #FB6E5F;
	color : white;
	width : 100px;
	height  : 30px;
	border-radius : 6%;
	font-size : 15px;
}

.form-group button:hover{
	background: white;
	color : #FB6E5F;
	border : 1px solid #FB6E5F;
}

#combtn{
	margin-left : 500%;
}