@charset "UTF-8";

.imgdiv {
	width : 5%;
	height : 70px;
	float : left;
	margin-left : 2px;
	
}

.logo {
	width : 30%;
	height : 70px;
	float : left;
	margin-top : 10px;
}

.info{
	width: 60%;
	height : 40px;
	float : left;
	margin-top : 22px;
	margin-left : 20px;
}

.info2{
	width: 10%;
	float : right;
}

.info3{
	width: 18%;
	float : right;
	margin-left : 10px;
}

#logoimg{
	width : auto;
	height : auto;
	max-height : 77px;
	max-width : 100px;
	margin-left  : 5px;
	float : left;
}

#logo_Title{
	font-size : 35px;
	font-weight : bold;
}

.info2 > img {
	width  : auto ; 
	height : auto;
	max-height : 25px;
	max-width : 25px;
}

.info3 > label{
	font-size : 17px;
}

#userlabel{
	text-decoration : underline;	
	margin-right : 10px;
}