@charset "UTF-8";

html{
	height : 100%;
}

body{
	height: 100%;
}

header{
	width: 100%;
	min-height : 10%;
}

nav {
	width: 100%;
	min-height : 10%;
	background: #FB6E5F;
}
#outer {
	font-size: 0;
}
#menuArea {
	background:MistyRose;
	width:22.2%;
	height:600px;
	display:inline-block;
}
#contentsArea {
	background:WhiteSmoke;
	width:77.7%;
	height:600px;
	display:inline-block;
}
