@charset "UTF-8";


ul {
	font-size: 0;
	padding-left:0px;
}

li {
	width:10.99%;
	height:100px;
	color:white;
	display:inline-block;
	text-align:center;
	border:1px solid white;
	line-height:25px;
	padding-top:10px;
}
.cbtn {
	background :#FB6E5F;
	color:white;
	border-style:none;
	font-size:18px;
	font-family:'a타이틀고딕1';
}