@charset "UTF-8";
#productInsertArea h3{
   color: salmon;
}
#PUTable{
   width: 100%;
}
#PUTable td:first-child{
   text-align: center;
}
input[name = startTime], input[name = endTime]{
   width: 100%;
}
#space{
   text-align: center;
}
#PUTable tr{
   border-top: 1px solid lightgray;
   border-bottom: 1px solid lightgray;   
}
#puPrice{
   width: 40%;
}
#PUTable select, #PUfooter{
   width: 100%;
}
#PURestDayCheck *{
   margin-left: 10px;
}
#PUCalendar{
   width: 100%;
   height: 400px;
}
#PUTable textarea{
   resize: none;
}
#PUTable th{
   background: lightgray;
}
#PUBtns{
   margin-right: auto;
   margin-left: auto;
   width: 30%;
}
#PUInsertBtn, #PUResetBtn, #PUDeleteBtn{
	font-size: 17px;
    width: 100px;
    height: 26px;
    background: salmon;
    color: white;
    border: 2px double salmon;
    text-align: center;
    border-radius: 5px;
    cursor:pointer;
    margin-bottom: 3px;
}