@charset "UTF-8";
/* 상품관리 페이지 css */
#productListContentsArea{
   width: 800px;
   height: 900PX;
   margin-right: auto;
   margin-left: auto;
}
#productListContentsArea div{
	border: 1px solid red;
}
#productDeleteBtn{
	margin-right: 27px;
}
#productUploadBtn, #productUpdateOrDeleteBtn, #productDeleteBtn{
    width: 100px;
    height: 26px;
    background: salmon;
    color: white;
    border: 2px double salmon;
    text-align: center;
    border-radius: 5px;
   cursor:pointer;
}
#productSearchTB th:first-Child{
	width: 10%;
}
#productSearchTB th:last-Child{
	width: 90%;
}
#productSearchResulTB, #productSearchTB{
   width: 100%;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
}
#productSearchTBArea *, #productSearchResulTB *{
	text-align: center;	
}
#productSearchTB tr:first-Child, #productSearchResulTB tr:first-Child{
   background: lightGray;
}
#productSearchResultList{
	margin-top: 10px;
    width: 100%;
}
