@charset "UTF-8";
/* 상품관리 페이지 css */
#productListContentsArea{
   width: 800px;
   height: 900PX;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
}
#productUploadBtn{
    width: 100px;
    height: 26px;
    background: salmon;
    color: white;
    border: 2px double salmon;
    text-align: center;
    border-radius: 5px;
}
#productUploadBtn:hover{
   cursor:pointer;
   
}
#productSearchTable{
   width: 79%;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
}
#productSearchTB tr:first-Child{
   background: lightGray;
}
#productSearchResultList{
   width: 100%;
}
#productUpdateOrDeleteBtn{
   width: 100px;
    height: 26px;
    background: salmon;
    color: white;
    border: 2px double salmon;
    text-align: center;
    border-radius: 5px;
}
#productUpdateOrDeleteBtn:hover{
   cursor:pointer;
   
}