@charset "UTF-8";

.monthgraph{
	width : 100%;
	height : 400px;
	background : white;
	border: 1px solid black;
}

.monthgraphArea h2{
	font-family: 'Sunflower', sans-serif;
}

#monthTable{
	width : 100%;
	margin-left : auto;
	margin-right : auto;
	margin-top : 2%;
	text-align : center;
}

#monthTable tr>th , #monthTable tr>td{
	border : 1px solid black;
	text-align : center;
	font-family: 'Sunflower', sans-serif;
}

