@charset "UTF-8";

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
   		width: 100%;
		margin: 0 auto;
		background:white;
  }
	
	.fc-event {
		/* border:1px solid salmon !important; */
		background:salmon;
	}

	 .fc-scroller {
	 	border:1px solid salmon !important;
	 }
	 
	 .fc-head-container{
	 	border:1px solid salmon !important;
	 	background:salmon;
	 	color:white;
	 }
	.fc-day-grid td{
		border:1px solid salmon !important;
		/* cursor:pointer; */
	}
	.fc-row .fc-content-skeleton td{
		border:none !important;
		
	}
	
	.fc-content{
		cursor:pointer;
	}	
	.fc-left{
		color:salmon;
	}
	.fc-button-primary{
		background:salmon !important;
		color:white;
		border:none;
	}
	.fc-button-primary:hover{
		background:white !important;
		color:salmon;
	}

		
