@charset "UTF-8";
#footerTotal{
   font-family:sunFlower;
   height: 60px;
}
#footerLogo{
   height: 80px;
   width: 15%;
   float: left;
}
#comInfo{
   margin-top: 10px;
   float: left;
   width: 50%;
}
#footerNav{
   margin-top: 10px;
   float:left;
   width: 35%;
   height: 30px;
}
#comInfoBtn{
   out-line:0;
   border:0;
   height:30px;
   background: #FB6E5F;
   color: black;
   border-radius:10px;
   margin-right: 15px;
   float:left;
}
#comInfoBtn:hover{
   color: white;
}
#serviceTerm{
   out-line:0;
   border:0;
   height:30px;
   background: #FB6E5F;
   color: black;
   border-radius:10px;
   margin-right: 15px;
   float:left;
}
#serviceTerm:hover{
   color: white;
}
#privacyPolicy{
   out-line:0;
   border:0;
   height:30px;
   background: #FB6E5F;
   color: black;
   border-radius:10px;
   margin-right: 15px;
   float:left;
   width: 140px;
}
#privacyPolicy:hover{
   color: white;
}