@charset "UTF-8";

.header {
	width:100%;
	height:60px;
	text-align:left;
	margin-top:20px;
	padding-left:30px;
	padding-top:10px;
	border-top:1px solid lightgray;
	margin-bottom:0px;
}
.logo {
	width:100%;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
}
.logoImg {
	width:230px;
}
