@charset "UTF-8";

section{
	min-height: 100%;
}

.form{
	text-align:center;
}

.sign_div1{
	width: 500px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

#sign_user {
    width: auto;
    height: auto;
    max-width: 140px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top : 30px;
}


.title{
	font-size : 30px;
}

#goSign{
	border-radius: 5px;
	background-color: #F77F6A;
	color : white;
	border: none;
 	text-align: center;
 	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	width: 120px;
  	height: 40px;
  	margin-top: 10px;
  	
}

.sign1{
	border-top : 2px solid black;
	border-bottom : 2px solid black;
	margin-top: 5px;
}

.sign2{
	border-top : 2px solid black;
	border-bottom : 2px solid black;
	margin-top: 2px;
}