@charset "UTF-8";

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: auto;
}

/* Set gray background color and 100% height */
.sidenav1 {
	padding-top: 20px;
	height: auto;

}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}

}
