@charset "UTF-8";

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float:center;
	font-size : 20px;
	font-family : Sunflower;
}

ul li {
	display: inline;
}

ul a {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: black;
}

ul li:last-child{
		float:right;
}

/*모바일 경우... 그냥 해봤어요 지워도 되요*/
	@media screen and (max-width: 480px) 
	{
		nav{display:block;}
		ul li{display:block;}
		ul li:last-child{
			float:center;
		}

	}