@charset "UTF-8";

html{
	height: 100%;
}

body {
	height: 100%;
}

header {
	width: 100%;
	min-height : 25%;
	
}

nav {
	width: 100%;
	min-height : 10%;
	background :#FB6E5F;
}

section {
	width: 100%;
	min-height : 70%;
}

footer {
	width: 100%;
	min-height : 15%;
	background: #FB7061;
}

/*모바일..안해도 상관없음  */
@media screen and (max-width: 480px) 
	{
		nav{height:250px;}
		header{height:200px;}

	}