@charset "UTF-8";

.memberJoinArea {
	text-align:center;
	font-family: 'Noto Sans KR', sans-serif;
}
.title {
	color:salmon;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:35px;
}
.subTitle {
	color:gray;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:12px;
}
.memberJoinTable {
	width:100%;
	background:MistyRose;
	text-align:left;
	font-size:12px;
}
.memberJoinTable td {
	height:50px;
	border-bottom:1px solid white;
	padding-left:20px;
}
.star {
	color:red;
}
.col1 {
	width:20%;
	font-weight:lighter;
	padding-top:7px;
}
.col2 {
	width:80%;
	color:gray;
}
.check { 
	height:22px;
	background:salmon;
	color:white;
	border-style:none;
	font-size:12px;
}
.memberJoinBtnArea {
	text-align:center;
}
.memberJoinBtn {
	width:80px;
	height:40px;
	background:salmon;
	color:white;
	border-style:none;
	font-size:15px;
}
.memberJoinBtn:hover {
	width:80px;
	height:40px;
	background:white;
	color:salmon;
	border-style:none;
	font-size:15px;
	border:1px solid salmon;
	cursor:pointer;
}
textarea {
	width:100%;
	height:200px;
	color:gray;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:10px;
}
.condition {
	text-align:right;
}