@charset "UTF-8";

.paymentCompleted, .bookingCompleted, .ongoing {
	width:32%;
	height:auto;
	border:1px solid salmon;
	background:white;
	text-align:right;
	display:inline-block;
	padding:20px;
}
.paymentLabel1 {
	color:#ff4733;
	font-size:20px;
	text-align:left;
}
.paymentLabel2 {
	color:#ff4733;
	font-size:30px;
	cursor:pointer;
}
.paymentLabel3 {
	font-size:18px;
}
.search {
	width:100%;
	text-align:center;
}
.paymentList {
	width:100%;
	background:white;
	text-align:center;
	font-family:'Noto Sans KR', sans-serif;
}
.paymentList tr {
	height:30px;
}
.paymentList thead {
	background:salmon;
	color:white;
}
.paymentList tbody tr {
	border-bottom:1px solid gray;
}
.pay, .cancellation, .review {
	border:1px solid salmon;
	background:white;
	color:salmon;
}
.paging {
	border-style:none;
	background:white;
}
