@charset "UTF-8";

.changeInfoTable {
	width:100%;
	background:MistyRose;
	text-align:left;
	font-size:12px;
}
.changeInfoTable td {
	height:50px;
	border-bottom:1px solid white;
	padding-left:20px;
}
.star {
	color:red;
}
.col1 {
	width:20%;
	font-weight:lighter;
	padding-top:7px;
}
.col2 {
	width:80%;
	color:gray;
}
.check { 
	height:22px;
	background:salmon;
	color:white;
	border-style:none;
	font-size:12px;
}
.changeInfoBtnArea {
	text-align:center;
}
.changeInfoBtn {
	width:80px;
	height:40px;
	background:salmon;
	color:white;
	border-style:none;
	font-size:15px;
}
.changeInfoBtn:hover {
	width:80px;
	height:40px;
	background:white;
	color:salmon;
	border-style:none;
	font-size:15px;
	border:1px solid salmon;
	cursor:pointer;
}
textarea {
	width:100%;
	height:200px;
	color:gray;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:10px;
}

#deletebtn{
	outline : 0;
	border : 0;
	background : white;
	color : lightgray;
	font-size : 20px;
	font-family: 'Noto Sans KR', sans-serif;
}

#deletebtn:hover{
	color : black;
}

#