@charset "UTF-8";

 .navbar-inverse {
	background:MistyRose;
	border:1px solid MistyRose;
	margin-bottom:0;
}
.navBtn {
	height:70px;
	color:black;
	border-style:none;
	background:MistyRose;
	font-family:'Noto Sans KR', sans-serif;
	font-size:20px;
}
.navBtn:hover {
	height:70px;
	border-style:none;
	background:white;
	color:salmon;
	font-family:'Noto Sans KR', sans-serif;
	font-size:20px;
	cursor:pointer;
}

#noticemenu{
	display:none;
} 

#myNavbar li ul {
background: MistyRose;
display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:150px;
z-index:200;
}

#myNavbar li:hover ul {
display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */

}

button[name=noticebtn]:hover{
	background:MistyRose;
	color:white;
}


