@charset "UTF-8";

@media screen and (max-width: 767px) {
   .sidenav {
      height: auto;
      padding: 15px;
   }
   .row.content {
      height: auto;
   }
}
   
   .payArea table{
      width:100%;
      margin-left:auto;
      margin-right:auto;
        
   }
   
   .payArea table th{
      padding:8px;
      text-align:center;
   }   
   .payArea table tr td{
      padding:8px;
      border-bottom:1px solid gray;
      text-align:center;
   }
   
   table th{
   	background:salmon;
   }
   
   th{
   	  color:white;
   }
 
   
   