@charset "UTF-8";
.container {
/* 	color: salmon;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center; */
	font-family: 'Noto Sans KR', sans-serif;
}
#wishListTable{
	width:100%;
	text-align:center;
	border:1px solid black;
}
#wishListTable tr th{
	text-align:center;
	font-size:20px;
	 border:1px solid black;
	 background:#FFA399;
}
#wishListTable tr td{
	border:1px solid black;
}
.imagetd{
	width:20%;	
}
#image{
	max-width:99%;
}
.detail{
	width:30%;
}
.pName{
	width:20%;
	font-size:18px;
}
.price{
	font-size:18px;
}
#pResult{
	width:100%;
	border:1px solid black;
	border:none;
}
#package1, #package2, #package3{
	width:250px;
	height:300px;
	text-align:center;
}
#price{
	font-size:30px;
	color:red;
	text-align:center;
}
#packageArea{
	width:100%;
	display :inline;
}
.packageStudio, .packageDress, .packageMakeup,  .packageButton, .packagePrice{
	float:left;
}
.packageStudio img, .packageDress img, .packageMakeup img{
	max-width:100%;
}
#totalPrice{
	margin-top:185px;
	margin-left:20%;
	font-size:20px;
}
.packageButton {
	float:right;
}