@charset "UTF-8";
.container {
/* 	color: salmon;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center; */
	font-family: 'Noto Sans KR', sans-serif;
}
body{
	font-family: 'Noto Sans KR', sans-serif;
	/* font-weight:bold;	 */
}
#wishListTable{
	width:100%;
	text-align:center;
	/* border:2px solid salmon; */
	font-family: 'Noto Sans KR', sans-serif;
}
#wishListTable tr th{
	height:40px;
	text-align:center;
	font-size:18px;
	 border-bottom:1px solid gray;
	 background:mistyrose;
	 font-family: 'Noto Sans KR', sans-serif;
}
#wishListTable tr td{
	font-family: 'Noto Sans KR', sans-serif;
	/* border:2px solid salmon; */
}
#wishListTable tr{
	border-bottom:1px solid gray;
}
* .imagetd{
	max-width:30%;	
} 
#image{
	width:150px;
	height:100px;
}
.pName{
	width:30%;
}
.cName{
	width:20%; 
	font-family: 'Noto Sans KR', sans-serif;
	font-size:18px;
}
.price{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:18px;
}
#pResult{
	width:100%;
	border:1px solid salmon;
	border:none;
}
#package1, #package2, #package3{
	width:250px;
	height:300px;
	text-align:center;
}
.packageArea{
	width:100%;
	/* background:mistyrose; */
}
.packageArea2{
	width:100%;
	/* background:lightgray; */
}
.packageButton, .packagePrice{
	float:left;
}
.fisrtStudio img, .fisrtDress img, .fisrtMakeup img{
	max-width:100%;
}
/* #totalPrice{
	margin-top:185px;
	margin-left:20%;
	font-size:20px;
} */
.button {
	float:right;
}
.firstStudio, .firstDress, .firstMakeup{
	width: 27%;
	text-align:center;
}
.secondStudio, .secondDress, .secondMakeup{
	width:27%;
	text-align:center;
}


/* .pWrap{
	width : 100%;
} */

/* .pack{
	width : 70%;
	float : left;
} */

/* .priceWrap{
	width : 30%;
	height: 200px;
	float : left;
}
 */

.totalPrice{
	margin-top : 30%;
}

#price{
	font-size: 25px;
	font-family: 'Noto Sans KR', sans-serif;
	color: salmon;
}
#packReserve{
	margin-top:0;
}
.fianlPrice{
	float:left;
}
#plus{
	width:20px;
	margin-top:-380px;
	margin-left:26px;
}
