@charset "UTF-8";

html{
   height: 100%;
}

body {
   height: 100%;
}

header {
   width: 100%;
   min-height : 25%;
   
}

nav {
   width: 100%;
   min-height : 10%;
   background :#FB6E5F;
}

#whole {
	padding-left:10%;
	padding-right:10%;
}
#contents {
	height:100%;
	margin-left:auto;
	margin-right:auto;
	font-family:'Noto Sans KR', sans-serif;
	font-size:14px;
	font-weight:lighter;
	padding-left:5%;
	padding-right:5%;
}
#memberJoinTable {
	padding-left:5%;
	padding-right:5%;
	width:100%;
	background:MistyRose;
}
#memberJoinTable td {
	height:50px;
	border-bottom:1px solid white;
}
#star {
	color:red;
}
#col1 {
	width:200px;	
}
#col2 {
	color:gray;
	font-size:12px;
}
#memberJoinSection button { 
	height:22px;
	background:salmon;
	color:white;
	border-style:none;
	font-size:12px;
}
#btn {
	text-align:center;
}
#btn1 {
	width:80px;
	height:40px;
	background:salmon;
	color:white;
	border-style:none;
	font-size:15px;
}
#btn1:hover {
	width:80px;
	height:40px;
	background:white;
	color:salmon;
	border-style:none;
	font-size:15px;
	border:1px solid salmon;
	cursor:pointer;
}
#memberJoinSection select {
	height:22px;
}
textarea {
	width:100%;
	height:200px;
}
#condition {
	text-align:right;
}